<div class="account-holdername">
    <h3>Account Holder Name : {{user.firstName}}</h3>
</div>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Primary Account</td>
            <td colspan="2">{{user.aadharcardNumber}}</td>
        </tr>
        <tr>
            <td>Communicatio Address</td>
            <td>{{user.aadharcardNumber}}</td>
            <td>Update</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{user.mobileNumber}}</td>
            <td>Update</td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td>{{user.email}}</td>
            <td>Update</td>
        </tr>
        <tr>
            <td>PAN Number</td>
            <td colspan="2">{{user.pancardNumber}}</td>
        </tr>
        <tr>
            <td>Aadhaar Number</td>
            <td colspan="2">{{user.aadharcardNumber}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td colspan="2">{{user.dob}}</td>
        </tr>
    </tbody>
</table>