<nav class="navbar navbar-inverse">
  
    <ul class="nav navbar-nav">
      <li><a routerLink="**">Overview</a></li>
      <li class="dropdown"><a class="dropdown-toggle dropdown-link" data-toggle="dropdown">My Accounts<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="accountsummary">Account Summary</a></li>
        </ul>
      </li>
      <li><a routerLink="**">Payments</a></li>
      <li><a class="dropdown-toggle dropdown-link" data-toggle="dropdown" >Transfer<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="fundtransfer">Fund Transfer</a></li>
        </ul>
      </li>
      <li><a class="dropdown-toggle dropdown-link" data-toggle="dropdown" >Statements<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="ministatement">Mini Statement</a></li>
          <li><a routerLink="detailedstatement">Detailed Statement</a></li>
        </ul>
      </li>
      <li><a href="#">Logout</a></li>
    </ul>
</nav>