<div class="container">
  <div class="login-main col-md-8">
    <form class="ng-pristine ng-valid" >
        <input name="FormInstanceToken" type="hidden" value="7D150975E3AF4C219DC8E335B0A4AC77" autocomplete="off"><noscript>&lt;input name='NoJavascript' type='hidden' value='true' /&gt;</noscript>
<a  href="#idash" tabindex="-1"></a>
    
    <div class="RoundBase RoundPad Corner RoundBaseDone"><div class="RoundWrap content RoundWrapDone login-left-main"><div class="t"></div><div class="Round RoundDone" style="background-color: transparent; padding: 0px; margin: 0px; border: 0px;">
        <table class="Edit" cellspacing="2px">
            <!-- ==================== Title -->
            <tbody><tr class="Title">
                <td colspan="2">
                    Register – Welcome to
                    Innobank Online Banking
                </td>
            </tr>
            <!-- ==================== Field -->
            <tr class="Field">
                <td class="LabelForm">
                    Enter you UID Number:
                </td>
                <td class="Value">
                    <input name="UserId" type="text" [(ngModel)]="checkData.uid" width="160px"  #userId="ngModel"required>
                    <!--<div *ngIf="(UserId.dirty || UserId.touched)" class="error" >
                    <span [hidden]="!UserId.errors.required">Please enter User Id</span>
                    </div>-->
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr class="Field">
                <td class="LabelForm">
                    Enter Mobile Number :
                </td>
                <td class="Value">
                    <input name="UserMobile" type="text" [(ngModel)]="checkData.mobile" width="160px"  #UserMobile="ngModel" pattern="^[7-9][0-9]{9}" required>
                    &nbsp;&nbsp;
                    <!--<div *ngIf="UserMobile.errors && (UserMobile.dirty || UserMobile.touched)" class="error" >
                    <span [hidden]="!UserMobile.errors.required">Please Enter the Your Mobile Number</span>
                    <span [hidden]="!UserMobile.errors.pattern">Please enter valid mobile Number</span>
                    </div>-->
                </td>
            </tr>
            <tr *ngIf="validUser" class="Field" >
                <td class="LabelForm">
                    Create Password :
                </td>
                <td class="Value">
                    <input autocomplete="off"  name="Password" type="password" [(ngModel)]="checkData.password" width="160px" tabindex="1">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr *ngIf="validUser" class="Field">
                <td class="LabelForm">
                    Confirm Password :
                </td>
                <td class="Value">
                    <input autocomplete="off"  name="ConfPassword" type="password" value=""  [(ngModel)]="checkData.confpassword" width="160px" tabindex="1">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr *ngIf="message != ''" class="Field">
                <td class="LabelForm"></td>
                <td class="Value">
                   {{message}}
                    &nbsp;&nbsp;
                </td>
            </tr>
            <!-- ==================== Action -->
            <tr class="Action">
                <td class="Label">
                </td>
                <td class="Value">
                    <input  name="SubmitNext" type="submit" value="Submit" (click) = "checkDetails($event)" tabindex="3" class="Boot" autocomplete="off">
                    <input  name="SubmitCancel" type="submit" value="Cancel" tabindex="4" class="Boot" autocomplete="off">
                    <span class="SubmitWorking" style="display: none">
                        <img alt="" src="/User/Content/Images/Spinner.gif" style="vertical-align: middle">
                        please wait ... </span>
                </td>
            </tr>
          
            <tr class="Field">
                <td class="LabelForm">
                </td>
                <td class="Value">
                    For security reasons, never share your username, password, social security number, account number or other private data online, unless you are certain who you are providing that information to, and only share information through a secure webpage or site.
					
				</td>
            </tr>
        </tbody></table>
    </div></div><div class="b"><div></div></div></div>
    </form>
    
  </div>


</div>