<div id="sidebar-wrapper" class="sidebarmain">
    <div class="welcome-head">Welcome back</div>
    <div class="account-name">Accout holder Name</div>
    <div class="account-summary-main">
        <ul>
            <li><a routerLink="myprofile" routerLinkActive="active">My Profile</a></li>
            <li><a routerLink="accountsummary" routerLinkActive="active">Account Summary</a></li>
            <li><a routerLink="ministatement" routerLinkActive="active">Mini Statement</a></li>
            <li><a routerLink="detailedstatement" routerLinkActive="active">Detailed Statement</a></li>
            <li><a routerLink="fundtransfer" routerLinkActive="active">Fund Transfer</a></li>
        </ul>
    </div>
</div>
