<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header logo">
                    <img src="/assets/images/logo.png">
                </div>
                <ul class="nav navbar-nav top-nav ">
                    <li class="active"><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>

        </div>

    </nav>
    

</body>

</html>
