<body>
    <h3 style="text-align:center">Account Summary</h3>
    <div class="table-responsive">
        <table class="table-striped">
            <tr>
                <td>Name:</td>
                <td>{{user.firstName}}</td>
            </tr>
            <tr>
                <td>Account Number:</td>
                <td>{{user.aadharcardNumber}}</td>
            </tr>
            <tr>
                <td>INR balance:</td>
                <td>1000000000</td>
            </tr>
            <tr>
                <td>Branch Details:</td>
                <td>Innobank,vizag</td>
            </tr>
            <tr>
                <td>Created Date:</td>
                <td>{{user.dob}}</td>
            </tr>
            <tr>
                <td>Last TranscationDate:</td>
            </tr>
        </table>
    </div>
</body>