
<div class="container">
  <form>
  <div style="margin-top:60px;" class="row">

  <div class="col-md-3">
<label for="FromDate">FromDate</label>
<input [(ngModel)]="date.fromDate" type="date" name="fromDate"/>
  </div>
  <div class="col-md-3">
<label for="ToDate">To date</label>
<input [(ngModel)]="date.toDate" type="date" name="toDate"/>
  </div>
  <div class="col-md-2">

<input (click)="getData(date)" type="submit" name="toDate" value="submit"/>
  </div>
  </div>
  </form>
  
  <h2  *ngIf = "isTrue" style="color:red" class="text-center row">No Records Found</h2>
  <div *ngIf ="!(isTrue)" class="row">

    <div class = "table-responsive col-md-8">
<table class="table table-bordered table-hover" style=margin-top:40px; >
            <thead> 
              <tr>
                <th>S.no</th>
                <th>Transaction Date</th> 
                <th>Cheque number</th>
                <th>Transaction Remarks</th>
                <th>Withdrawl Amount(INR)</th>
                <th>Deposit Amount(INR)</th>
                <th>Balance(INR)</th>
              </tr>
              </thead>      
             <tbody >       
             <tr *ngFor="let detail of details | paginate: {itemsPerPage:5,currentPage:page2,id:'1'};let i=index">
                    <!--<td>{{currentPage }}</td>-->
                    <!--<td>{{itemsPerPage+1}}</td>-->
                      <td>{{5*(page2-1)+i+1}}</td>
                        
                        <td>{{detail.Date}}</td>
                        <td>{{detail.Chequeno}}</td>
                        <td>{{detail.TransactionRemarks}}</td>
                        <td>{{detail.withdrawalAmount}}</td>
                        <td>{{detail.depositAmount}}</td>
                        <td>{{detail.balanceAmount}}</td>

                    </tr>
                    </tbody>
                
                </table>
                 
           <pagination-controls
            (pageChange)="page2= $event"
            id="1" maxSize="5"
                      directionLinks="true"
                      autoHide="true"> 
</pagination-controls>
  </div>
  </div>
 
               <!--<pagination-controls (pageChange)=" click($event)" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>-->