<div id="MasterBody">
    <div id="MasterMain">
        <div class="Sidebar3">
            <div class="Round">
                <div style="padding: 6px; background-color: transparent">
                    <p class="Bold">
                        Sign In to Online Banking
                       </p>
                    <hr />
                    <b>For assistance please call:<br> Customer Care</b><br />
                    <span style="font-size:5px;line-height:5px;">&nbsp;</span>
                    <span style="display:block; font-size:12pt;font-weight:bold; text-align:center;">(040) 66126300 </span>
                    <span style="font-size:5px;line-height:5px;">&nbsp;</span>
                    <div id="chat">
                        <div class="center">
                            <a id="chatlink" href="#"><img src="../../../../assets/images/repoffline.png"></a>
                        </div>
                    </div>
                    Weekdays 6 a.m. to 8 p.m. (IST)
                    <br /> Weekends 8 a.m. to 5 p.m. (IST)<br/>
                    <br />



                    <hr />
                </div>
            </div>
            <br />

        </div>
    </div>
</div>